body {
	font: var(--baseFontSize)/var(--baseLineHeight) georgia, serif;
	color: var(--mainColour);
	box-sizing: border-box;
	text-align: left;
	padding: 0;
}

header {
	background: var(--headerBackgroundColour);
	padding: calc(var(--baseUnit) / 2) var(--baseUnit);
}

.site-navigation {
	display: table;
	width: 100%;
}

.site-navigation__item {
	display: table-cell;
}

.site-navigation__item:last-child {
	text-align: right;
}

main {
	padding: var(--baseUnit);
	margin: 0;
}

section {
	margin-bottom: var(--baseUnit);
}

a {
	color: var(--linkColour);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.site-navigation {
	margin-bottom: calc(var(--baseUnit) / 2);
}

.site-navigation__link {
	color: var(--navLinkColour);
	font-size: calc(var(--baseFontSize) / 1.2);
}

.site-navigation__link:hover {
	color: var(--navLinkHoverColour);
	text-decoration: none;
}

.metadata,
.metadata--index {
	font-size: calc(var(--baseFontSize) / 1.2);
}

.metadata {
	color: var(--metaDataColour);
}

.metadata--index {
	color: var(--metaDataIndexColour);
}

time {
	font-style: italic;
}

:--heading {
	margin: 0;
	font-weight: normal;
}

:--heading, nav {
	font-family: 'Helvetica Neue', Arial, sans-serif;
}

h1 {
	color: var(--mainHeadingColour);
	font-size: calc(var(--baseFontSize) * 2);
	margin-bottom: calc(var(--baseFontSize) / 2);
}

h2 {
	font-size: calc(var(--baseFontSize) * 1.5);
	margin-bottom: var(--baseFontSize);
	padding-bottom: calc(var(--baseUnit) / 4));
	border-bottom: 1px solid var(--headingBorderColour);
}

h3 {
	font-size: calc(var(--baseFontSize) * 1.2);
	margin-bottom: var(--baseFontSize);
}

p {
	margin: 0 0 var(--baseFontSize);
}

ul, ol {
	list-style-type: none;
	padding: 0;
}

ul {
	margin: 0 0 var(--baseUnit);
}

ol.instructions {
	counter-reset: section;
	margin: 0;
}

ol.instructions li::before {
	counter-increment: section;
	content: counters(section,".") " ";
}

.spaced li,
.instructions li {
	margin-bottom: var(--baseUnit);
}

.instructions__item::before {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-weight: bold;
}

.instructions__item > strong {
	font-family: 'Helvetica Neue', Arial, sans-serif;
}

ol.instructions--nested {
	padding-top: var(--baseFontSize);
}

ol.instructions--nested li:last-child {
	margin-bottom: calc(var(--baseUnit) * 2);
}

