body {
	font: var(--baseFontSize)/var(--baseLineHeight) georgia, serif;
	color: var(--mainColour);
	box-sizing: border-box;
	text-align: left;
	padding: 0;
}

header {
	background: var(--headerBackgroundColour);
	padding: var(--baseUnit);
}

main {
	padding: var(--baseUnit);
	margin: 0;
}

section {
	margin-bottom: var(--baseUnit);
}

a {
	color: var(--linkColour);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

:--heading {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	margin: 0;
}

h1 {
	color: var(--mainHeadingColour);
	font-size: calc(var(--baseFontSize) * 2);
	font-weight: normal;
}

h2 {
	font-size: calc(var(--baseFontSize) * 1.5);
	font-weight: normal;
	margin-bottom: var(--baseFontSize);
	padding-bottom: calc(var(--baseUnit) / 2));
	border-bottom: 1px solid #ccc;
}

h3 {
	font-size: calc(var(--baseFontSize) * 1.2);
	font-weight: bold;
	margin-bottom: var(--baseFontSize);
}

p {
	margin: 0 0 var(--baseFontSize);
}

ol {
	counter-reset: section;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ol li {
	margin-bottom: var(--baseUnit);
}

ol > li::before {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-weight: bold;
}

ol > li > strong {
	font-family: 'Helvetica Neue', Arial, sans-serif;
}

ol.instructions--nested {
	padding-top: var(--baseFontSize);
}

ol.instructions--nested strong {
	font-family: inherit;
}

ol.instructions--nested li::before {
	font-family: inherit;
	font-weight: inherit;
}

ol.instructions--nested li:last-child {
	margin-bottom: calc(var(--baseUnit) * 2);
}

ol li::before {
	counter-increment: section;
	content: counters(section,".") " ";
}

ul {
	list-style-type: none;
	margin: 0 0 var(--baseUnit);
	padding: 0;
}