/* custom properties */

:root {
	--mainColour: #4d4d4d;
	--linkColour: #f60;
	--headerBackgroundColour: #005689;
	--mainHeadingColour: #aad8f1;
	--baseFontSize: 16px;
	--baseLineHeight: 1.5;
	--baseUnit: calc(var(--baseFontSize) * var(--baseLineHeight));
}

/* custom selectors */

@custom-selector :--heading h1, h2, h3;