/* custom properties */

:root {

	/* colours */

	--mainColour: #4d4d4d;
	--mainHeadingColour: #aad8f1;
	--metaDataColour: #e6e6e6;
	--metaDataIndexColour: #666;

	--linkColour: #f60;
	--navLinkColour: #fff;
	--navLinkHoverColour: #ccc;

	--headerBackgroundColour: #005689;

	--headingBorderColour: #e6e6e6;
	
	/* typography sizing */

	--baseFontSize: 16px;
	--baseLineHeight: 1.5;
	--baseUnit: calc(var(--baseFontSize) * var(--baseLineHeight));
}

/* custom selectors */

@custom-selector :--heading h1, h2, h3;